{% render 'section-style' %}

<div class="spacer-section" style="height: {{ section.settings.height_desktop }}px;"></div>

<style>
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .spacer-section {
      height: {{ section.settings.height_mobile }}px !important;
    }
  }
</style>

{% schema %}
{
  "name": "Spacer",
  "settings": [
    {
      "type": "range",
      "id": "height_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Desktop Height",
      "default": 50
    },
    {
      "type": "range",
      "id": "height_mobile",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Mobile Height",
      "default": 30
    },
    {
      "type": "header",
      "content": "Custom Styling"
    },
    {
      "type": "header",
      "content": "Spacing Setting"
    },
    {
      "type": "header",
      "content": "Desktop Spacing"
    },
    {
      "type": "text",
      "id": "margin_desktop",
      "label": "Margin",
      "info": "Format: top right bottom left (e.g. 10px 0 10px 0)"
    },
    {
      "type": "text",
      "id": "padding_desktop",
      "label": "Padding",
      "info": "Format: top right bottom left (e.g. 10px 0 10px 0)"
    },
    {
      "type": "header",
      "content": "Mobile Spacing"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "Margin",
      "info": "Format: top right bottom left (e.g. 10px 0 10px 0)"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "Padding",
      "info": "Format: top right bottom left (e.g. 10px 0 10px 0)"
    },
    {
      "type": "header",
      "content": "Background Setting"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "section_bg_image",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "Spacer"
    }
  ]
}
{% endschema %}
